/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#main-frame-bg{
	-fx-background-color: '#E8D9C2';
}


.label-above-textfields {
    -fx-font-family: 'Barlow';
    -fx-font-size: 20.0px;
}

.textfield-input {
	-fx-font-family: 'Barlow';
	-fx-font-size: 30.0px;
	-fx-background-radius: 3.0px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.2), 8.0, 0.0, 0.0, 4.0);
}


.overlayPane{
	-fx-background-color: '#2E2E2E';
	-fx-opacity: 0.5;
}

.category-button {
	-fx-background-color: '#FAFAFA';
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.2), 8.0, 0.0, 0.0, 4.0);
}

