/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#main-frame-bg{
	-fx-background-color: '#E8D9C2';
}

#menu-bar {
	-fx-background-color: '#FAFAFA';
	-fx-border-radius: 50;
}

.vbox-size{
	-fx-pref-height: 100;
	-fx-pref-width: 750;
}

.edit-item-vbox-size-dropwdown {
	-fx-pref-width: 800;
}


.register-item-label {
    -fx-font-family: 'Barlow Regular';
    -fx-font-size: 20px;
}

.edit-item-textfields-input {
	-fx-font-family: 'Barlow Regular';
	-fx-font-size: 30px;
	-fx-background-radius: 3px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

.menu-button {
	-fx-font-size: 30px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

#restock-button {
	-fx-background-color: '#D3FFC1';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-background-radius: 10;
}

#notification-button{
	-fx-background-radius: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

.overlayPane{
	-fx-background-color: '#2E2E2E';
	-fx-opacity: 0.5;
}

#check-button{
	-fx-background-color: '#D5D5D5';
	-fx-font-family: 'Barlow Regular';
	-fx-font-size: 20px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-background-radius: 10;
}

#datepicker{
	-fx-font-family: 'Barlow Regular';
	-fx-font-size: 30px;
	-fx-background-radius: 3px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

#unique-id{
	-fx-background-color: '#D9D9D9';
}



