/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#main-frame-bg{
	-fx-background-color: '#E8D9C2';
}

.long-dropdown-menu-button {
	-fx-font-family: 'Barlow';
	-fx-font-size: 30px;
	-fx-background-radius: 3px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-pref-width: 800;
}

.buttons{
	-fx-background-color: '#FAFAFA';
	-fx-font-family: 'Barlow';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-font-size: 23px;
}

.label-above-textfields {
    -fx-font-family: 'Barlow';
    -fx-font-size: 20px;
}

.textfield-input {
	-fx-font-family: 'Barlow';
	-fx-font-size: 30px;
	-fx-background-radius: 3px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}


.overlayPane{
	-fx-background-color: '#2E2E2E';
	-fx-opacity: 0.5;
}


