/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#main-frame-bg{
	-fx-background-color: '#E8D9C2';
}

.text {
	-fx-font-family: 'Barlow';
}

.buttons{
	-fx-background-color: '#E5E5E5';
	-fx-font-family: 'Barlow';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 4);
	-fx-pref-width: 180;
	-fx-pref-height: 100;
	-fx-font-size: 35px;
}

#backspace {
	-fx-font-size: 23px;
}

#cancel-button {
	-fx-pref-width: 410;
}

.top-buttons{
	-fx-font-family: 'Barlow';
	-fx-background-color: '#FAFAFA';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-font-size: 20px;
}

.discount-buttons {
	-fx-font-family: 'Barlow';
	-fx-background-color: '#FAFAFA';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-font-size: 35px;
	-fx-background-radius: 30px;
}

.cash-options-buttons{
	-fx-pref-width: 300;
	-fx-font-size: 20px;
}

.cash-options-buttons:clicked{
	-fx-pref-width: 300;
	-fx-font-size: 20px;
}

#credit-text-field {
	-fx-font-family: 'Barlow';
-fx-background-color: '#EDEDED';
}

.label-above-textfields {
    -fx-font-family: 'Barlow';
    -fx-font-size: 20px;
}

.confirmation-buttons {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-font-family: 'Barlow';
	-fx-font-size: 23px;
	-fx-background-radius: 10px;
}

#cancel {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-font-family: 'Barlow';
	-fx-font-size: 23px;
	-fx-background-color: '#FFC0C0';
}

#confirm {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 4);
	-fx-font-family: 'Barlow';
	-fx-font-size: 23px;
	-fx-background-color: '#D4FFC1';
}

#proceed{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 4);
	-fx-font-family: 'Barlow';
	-fx-font-size: 30px;
	-fx-background-color: '#D4FFC1';
	-fx-background-radius: 15px;
}

#details-container {
	-fx-background-color: '#E7E7E7';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	
}


.proceed-button {
		-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
		-fx-font-family: 'Barlow';
}

.text {
	-fx-font-family: 'Barlow';
	-fx-font-size: 23px;
}

.textfield-input {
	-fx-font-family: 'Barlow';
	-fx-font-size: 30px;
	-fx-background-radius: 3px;
	-fx-background-color: '#F2F2F2';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
}

.vbox-size-dropwdown {
	-fx-pref-width: 450;
}


#save-button {
	-fx-font-family: 'Barlow';
	-fx-background-color: '#D3FFC1';
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-background-radius: 10;
}


.overlayPane{
	-fx-background-color: '#2E2E2E';
	-fx-opacity: 0.5;
}

#status-button{
	-fx-border-width: 20;
}

#status-state{
	-fx-background-color: '#F2F2F2';
}

#check-button{
	-fx-background-color: '#D5D5D5';
	-fx-font-family: 'Barlow Regular';
	-fx-font-size: 20px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 4);
	-fx-background-radius: 10;
}
