#background {
	-fx-background-color: '#A2A2A2';

}

#bg {
	
}

.images{
	
}

.warning-label{
	-fx-font-family: 'Noto Sans';
}

.item-details{
	-fx-font-family: 'Barlow';
}

#low-stock-notification-hbox {
	-fx-font-family: 'Barlow';
	-fx-background-color: '#FFE99C';
}

#out-of-stock-notification-hbox {
	-fx-font-family: 'Barlow';
	-fx-background-color: '#FFC0C0';
}

#expired-notification-hbox {
	-fx-font-family: 'Barlow';
	-fx-background-color: '#FFC0C0';
}

.close-button-low-stock-notification{
	-fx-background-color: '#FFE99C';
}

.close-button-out-of-stock-notification, .close-button-expired-notification{
	-fx-background-color: '#FFC0C0';
}
